/* p {
  background-color: bisque;
  color: blue;
  padding: 12px;
} */

h1 {
  background-color: bisque;
  padding: 12px;
}

button {
  background-color: pink;
  border-color: #FF3366;
  margin: 10px;
  padding: 5px;
}

ul {
  display: block;
  margin: 10px;
  padding: 0px;
  background-color: rgb(200, 230, 200);
}

li {
  float: left;
  border-width: thick;
  display: block;
  padding: 8px;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  color: rgb(100, 150, 100);
}

li a {
  text-decoration: none;
  border-color: coral;
  border-width: thick;
  color: #FF3366;
}



body {
  margin: 0;
  padding: 0;
  overflow: visible;
}

iframe {
  /* border: none; */
}

.inputFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

p {
  font-size: 1.25em;
  font-weight: 700;
  color: rgb(200, 100, 100);
  background-color: rgb(230, 200, 200);
  display: inline-block;
  padding: 8px;
}

.fileLabel {
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 700;
    color: rgb(100, 150, 100);
    background-color: rgb(200, 230, 200);
    display: inline-block;
    padding: 8px;
}

.fileLabel:hover {
    color: rgb(200, 230, 200);
    background-color: rgb(100, 150, 100);
}


#dropbox {
  border-style: dashed;
  width: 50%;
  padding: 16px;
}
